@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/lucida-bright.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.lucida-bright {
  font-family: "CustomFont", sans-serif;
}
